.modal-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.modal{
    background-color:lightgreen ;
    display: block;
    width: 900px;
    height: 700px;
}

.new-email-modal{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background-color:lightgreen ;


}
