body {
    font-family: sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 350px;
}


.sidebar-wraper {
    background-color: rebeccapurple;
    width: 250px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;


}
.sidebar-menu {
    display: flex;
    flex-flow: column;
    font-size: 24px;

}
.sidebar-menu-link {
    text-decoration: none;

}

.back-link {
    text-decoration: none;
}
.gallery-content{
    margin-left: 250px;
    padding:  0 40px;

}
.img-container{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-top: 10px;


}
.flex-child {
    /*flex-basis: 30%;*/
    width: 300px;
    height: 300px;
    /*margin: 10px;*/
    object-fit: cover;
    margin-bottom: 10px;



}

.back-link{
    color: #000000;
    font-size: 28px;
    font-weight: 700;
}
.back-link::before{
    content:"\003c";
    text-shadow: -15px 0 0 rgba(0,0,0,1);
    margin-right: 5px;

}