.main-container{
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 1366px;
    background: url("images/background.jpg") no-repeat;
    background-size: 100%;
    font-family: Verdana,sans-serif;
    padding: 50px 0 0 155px;
    /*text-align: center;*/
    line-height: 21px;

}

a{
    text-decoration: none;
}
.logo{
    float: left;
    display: inline-block;
    width: 1064px;
    height: 45px;
}

.logo-link {
    color:  #ffffff;
}

.logo-link:hover {
    color:  #f26522;
}

.logo-link:hover .img-logo{
    background: url("images/logo-hover.svg");
}

.img-logo{
    width: 46px;
    height: 44px;
    display: inline-block;
    background: url("images/logo.svg");
}

.logo-main{
    display: inline-block;
    font-weight: 700;
    padding-left: 8px;
}

.logo-first{
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 6px;
    display: inline-block;

 }

.logo-second{
    font-size: 18px;
    display: block;
}

.contacts{
    padding-top: 4px;
    float: right;
    display: inline-block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
 /*   position: absolute;*/
    right: /*25*/0px;
}

.container{
    display: inline-block;
    margin: 44px 0 0 0;
    width: 1107px;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.first-row{
    margin-bottom: 57px;
}

.layer-item:not(:last-child) {
    margin-right: 65px;
}


.layer-item{
    display: inline-block;
    float: left;
    position: relative;
}

.img-content{
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #ADF2F7 100%) 1;

}

.details{
    position: absolute;
    width: 311px;
    height: 63px;
    background: #f26522;
    bottom: 0;
    transition: 0.5s;
    overflow: hidden;
    transform: translate(0px,-25px) rotate(0deg) ; opacity: 0;
}

.layer-item:hover .details{
   transform: translate(0px,-38px) rotate(0deg) ; opacity: 1;
}

.description-lower{
    color:  #ffffff;
    padding: 10px 0 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
}

.description-upper{
    display: inline-block;
    position: absolute;
    left: 0;
    padding-left: 20px;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}

.link{
    position: absolute;
    right: 0;
    display: inline-block;
    padding-left: 20px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.link::after {
    content:"\203A";
    padding: 0 10px;

}

.title{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 12px;
}

.layer-item:hover .title{
    color:  #f26522;
}

.footer{
    padding-bottom: 20px;
    margin: 48px 0 0 357px;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    /*text-align: center;*/
    display: inline-block;
    width: 1107px;
}
.footer::before{
    content:"\00a9";
}