body{

    font-family: 'Myriad Pro',sans-serif;
    font-style: normal;
    font-weight: 300;

}
li {
    list-style-type: none;
}

a{
    text-decoration: none;

}

a:active, a:visited, a:link{
    color:  #000000;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.logo {
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 45px;
}

.logo-decoration{
    color:  #4bcaff;
}

.header{
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    text-align: center;

}

.header-item{
    display: inline-block;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    height: 50px;
    padding: 18px 50px 0 18px;

}

.header-item:hover{
    background-color:  #222f3a;
    cursor: pointer;
}

.list{
    margin: 0;
    padding: 0;
}

.menu{
    margin-top: 50px;
    box-sizing: border-box;
    /*width: 344px;*/
    height: 399px;
    border-style: solid;
    border-color: #000000;
    display: inline-block;
    width: 33%;
    vertical-align: top;

}

.menu-item{
    height: 79px;
    color:  #485863;
    font-size: 26.99px;
    line-height: 88.867px;
    padding: 0 38px 0 40px;


}

.menu-item:hover{
    background-color: #dcdcdc;
    color:  #000000;
    padding: 0 18px 0 60px;
    cursor: pointer;
}

.content{
    box-sizing: border-box;
    display: inline-block;
    width: 62%;
    margin: 50px 0 0 58px;

}

.img{
    border-style: solid;
    border-color: #000000;
    height: 529px;
    position: relative;
    text-align: center;
    line-height: 198px;
    background: url("img/Ramda.png") center;
    background-size: 45%;
    transition: background-size 0.5s;
    background-repeat: no-repeat;


}

.img:hover {
    background-size: 60%;
}

.centred{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text{
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer {
    background-color: #b5b8bb;
    width: 1280px;
    height: 69px;
    color: #0c1927;
    font-size: 28px;
    /*font-weight: 400;*/
    line-height: 90px;

}

.footer-list{
    display: inline-block;
}

.footer-item {
    display: inline-block;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.footer-item:hover{
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

.copyright{
    display: inline-block;
    text-align: right;
    margin-left: 140px;
}

